[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.awsdevops.internal:8080
Environment=DB_HOST=mysql-{{ENV}}.awsdevops.internal
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target